*{
    list-style: none;
    text-decoration:none;
    margin: 0;
    padding: 0;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar .top_navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    height: 65px;
    

}
.navbar .top_navbar a img{
    width: 150px;
    margin-left: 120px;

}
 .navbar  .top_navbar .left_list{
    display: flex; 
  gap: 40px;

}
.navbar  .top_navbar .left_list a{
    color: black;
}
 .navbar .right_list{
    display: flex;
    gap: 30px;
    margin-right: 60px;
   

}
.navbar .right_list input{
    width: 190px;
    background-color: rgb(228, 227, 227);
    border: 1px solid rgb(241, 235, 235);
    border-radius:10px ;
    padding:10px ;
}
.navbar .right_list a {
    margin-top: 10px;
    color: black;
}
.navbar .right_list .bagicon{
    color: black;
}
.navbar .bottom_navbar{
    align-items: center;
    height: 70px;
    background-color: white;
}
.navbar .bottom_navbar .bottom_list{
    display: flex;
    padding-top: 15px;
    gap: 85px;
    font-size:large;
   
    
}
.bottom_list a{
    color: black;
}
/* navbar css end here */
.first_page{
    display: flex; 
    justify-content: space-between;

}
.first_page  img{
height: 550px;
}
.divsec2-1 img{
    width: 500px;
}
.divsec2-2 img{
    width: 500px;
}
.divsec2-3 img{
    width: 500px;
}
/* first section end here */
.second_page h3{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px; 
    

}
.second_div {
    display: flex;
    justify-content: space-between;
}
.second_div img{
    width: 300px;
}
/* second section end here */

/* third section start here */
.section3 h3{

margin-top: 110px;
margin-bottom: 20px; 
text-align: center;
}
.section3 .divsec3_1{
    display: flex;
}
.section3 .divsec3_1 img{
    width: 252.2px;
    margin-bottom: 15px;
}
.section3 .divsec3_2{
    display: flex; 
}
.section3 .divsec3_2 img{
width: 252.2px;
}
/* third section end here */
.section4 h3{
text-align: center;
margin-top: 110px;
margin-bottom: 20px;

}
.section4 .divsec4_1{
    display: flex;
 
}
.section4 .divsec4_2{
    display: flex;
    
}
.section4 .divsec4_1 img{
    width: 252.2px;
    margin-bottom: 15px;
}
.section4 .divsec4_2 img{
    width: 252.2px;
    margin-bottom: 15px;
}
.section4 .divsec4_3{
    display: flex;
    
    margin-left: 252.2px;
}
.section4 .divsec4_3 img{
    width: 252.2px;

    
}
/* fourth section end here */
/* testimonial section start here */
.top_testimonial
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.bottom_testimonial{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    text-align: center;
    gap: 10px;
    background-color: #fff;
   margin-bottom: ;
    


    
}
.bottom_testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid rgb(219, 207, 207);
    z-index: 99;
    margin-bottom: 20px;
    box-shadow: rgba(0,0,0,0.1) 4px 4px 10px;

}
.testimonial-item{
    text-align: center;
    box-shadow: rgb(0,0,0,0.15)  4px 4px 10px;
}
.testimonial {
    margin-top: 20px;
}

.testimonial_icon{
    margin-top: 15px;
}




.footer{
    margin-top: 30px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    height: 420px;
}
.footer h2{
    color: yellow;
    margin-bottom: 10px;
}
.footer div{
    margin-top: 80px;
    align-items: center;
    
}
.footer button{
    background-color: yellow;
  padding: 10px;

}
.footer input {
    background-color: black;
    color: white;
    border-bottom: 2px solid yellow;
    padding: 10px;

}
.footer img{
    margin-bottom: 20px;

}

/* responsive started here  */
.navbar div label{
    display: none;
}
#click{
    display: none;
}
#click:checked~ .left_list{
    display: block;
}
 

 @media screen and (max-width:600px){
    
     .navbar .top_navbar {
        background-color:white;
        width: 100%;
        background-color: yellow;
     }
    .navbar div label{
        display: block;
    }
    
       .navbar .top_navbar .left_list {
        display: none;
        position: absolute;
        top: 70px;
        background-color: antiquewhite;
    width: 50%;  
    margin-left: 50%;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
    border-style: groove;
    border-bottom: 4px solid rgba(242, 239, 150, 0.837);
   padding-left: 10px;
        
    } 
    .navbar .top_navbar .left_list li{
        color:black;
        margin: 5px;
    }
    .navbar .top_navbar .right_list {
        display: none;  }
    .navbar .bottom_navbar {
        display: none;
    
    }
    .navbar .top_navbar a img{
        margin: 40px;
    }
    /* first section */
    .first_page{
        flex-direction: column;
    }
    .first_page img{
        width: 100%;
        height:auto;
    }
    /* second section */
    .second_page .second_div{

        flex-direction: column;
        
    }
    .second_page h3{
    text-align: center;
    
        
    }
    .second_div img{
        width: 100%;
        height: auto;
    }
    /* third section */
    .section3 h3 {
     text-align: center;
    }
    .section3 .divsec3_1{
        flex-direction: column; 

    }
    .section3 .divsec3_1 img{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .section3 .divsec3_2{
         flex-direction: column; 

    }
    .section3 .divsec3_2 img{
        width: 100%;
        height: auto;}
    /* section 4 */
     .section4 h3{
       text-align: center;
        
        }
        .section4 .divsec4_1{
            flex-direction: column;
         
        }
        .section4 .divsec4_2{
            
            flex-direction: column;
        }
        .section4 .divsec4_1 img{
            width: 100%;
        height: auto;
            margin-bottom: 15px;
        }
        .section4 .divsec4_2 img{
            width: 100%;
        height: auto;
            margin-bottom: 15px;
        }
        .section4 .divsec4_3{
            flex-direction: column;
            margin-left: 0px;
        }
        .section4 .divsec4_3 img{
            width: 100%;
            height: auto;
        
            
        }
        /* footer section */
        .footer{
            flex-direction: column;
            height: 800px;
    
        }
        .footer div{
            margin-left: 40px;
        }
    
}
/* @media screen and (min-width:601px) and (max-width:1024px){
    body{
        background-color: blue;
    }

}
@media screen and(min-width:1025px) {
    body{
        background-color: brown;
    }
 }   */
