.nav{
    background-color: orange;
    color: antiquewhite ;
    padding-left:40px ;
    padding-top:20px ;
    padding-bottom:20px ;
    border-radius: 20px  ;

}
.nav1{
    background-color: aqua;
    color: azure;
    padding: 20px;
     margin-top: 20px;
     border: 10px solid tomato ;
}
