.parent{
    background-color: rgb(16, 111, 142);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


 .parent .div1 button{   
background-color: orangered;
padding:10px ;
color: white;
}

